name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m venv venv
          . venv/bin/activate
          pip install -r requirements.txt
      - name: Run tests
        env: 
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}  
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'eu-west-3'  
          EMR_CLUSTER_ID: ${{ secrets.EMR_CLUSTER_ID }}
          BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
          S3_PATH: ${{ secrets.S3_PATH }}
          API_KEY_VALUE: ${{ secrets.API_KEY_VALUE }}
        run: |
          . venv/bin/activate
          pytest --ignore=app/__init__.py
